snippet main "if main" b
if __name__=='__main__':
	${0}
endsnippet

snippet tf "import tensorflow" b
import tensorflow as tf
import tensorflow.contrib.slim as slim
import tensorflow.nn as nn
endsnippet

snippet np "import numpy" b
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
endsnippet

snippet os "import os sys" b
import os
import sys
endsnippet


